
body {
  background-color: #3e68b9;

}
main{
  display: flex;
  flex-direction: row;
  height: 100vh;
}



.main-content {
  padding: 5px;
  overflow-y: auto;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-overflow-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.main-content>div {
  margin-top: 20px;
}

.main-content::-webkit-scrollbar {
  display: none;
}

